[submodule "submodules/disruption-py"]
	path = submodules/disruption-py
	url = git@github.com:MIT-PSFC/disruption-py.git
	branch = zk/popsim
[submodule "submodules/popsim"]
	path = submodules/popsim
	url = git@github.com:cfs-energy-internal/POPSIM.git
	branch = zk/trainer-nan
[submodule "submodules/gptools"]
	path = submodules/gptools
	url = git@github.com:ZanderKeith/gptools.git
	branch = zk/cmod-test
[submodule "submodules/torax"]
	path = submodules/torax
	url = https://github.com/google-deepmind/torax.git
